# Python Sets

### Set

> Примечание: наборы не упорядочены, поэтому вы не можете быть уверены в том, в каком порядке будут отображаться элементы.

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

> После создания набора вы не можете изменять его элементы, но можете удалять элементы и добавлять новые элементы.

In [2]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'apple', 'banana', 'cherry'}

> Примечание: значения True и 1 считаются одинаковыми в наборах и рассматриваются как дубликаты:

> Примечание: значения False и 0 считаются одинаковыми в наборах и рассматриваются как дубликаты:

### Get the Length of a Set

In [3]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

### Set Items - Data Types

In [4]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [5]:
set1 = {"abc", 34, True, 40, "male"}

### type()

In [6]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

### The set() Constructor

In [7]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

# ----------------------------------------------------------------------------

## Python - Access Set Items

### Access Items

> You cannot access items in a set by referring to an index or a key.

>> But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [8]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [9]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [10]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

# -------------------------------------------------------------------------

## Python - Add Set Items

### Add Items

In [11]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'apple', 'cherry', 'banana'}

### Add Sets

In [12]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'banana', 'cherry', 'papaya', 'pineapple', 'mango'}

### Add Any Iterable

In [13]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'banana', 'cherry', 'kiwi', 'orange'}

# ---------------------------------------------------------------------

## Python - Remove Set Items

### Remove Item

In [15]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)
# Примечание: если удаляемый элемент не существует, remove()возникнет ошибка.

{'apple', 'cherry'}

In [17]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)
# Примечание: если удаляемый элемент не существует, ошибка discard()НЕ​​возникнет.

{'apple', 'cherry'}

> Вы также можете использовать этот pop()метод для удаления элемента, но этот метод удалит случайный элемент, поэтому вы не можете быть уверены, какой именно элемент будет удален.

>> Возвращаемым значением метода pop()является удаленный элемент.

In [18]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'cherry', 'banana'}

In [19]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [20]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

# --------------------------------------------------------------------------

## Python - Loop Sets

### Loop Items

In [21]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

# --------------------------------------------------------------------------

## Python - Join Sets

### Join Sets

В Python существует несколько способов объединения двух или более множеств:

> Методы 'union()' и 'update()' объединяют все элементы из обоих наборов.

> Метод 'intersection()' сохраняет ТОЛЬКО дубликаты.

> Метод 'difference()' сохраняет элементы из первого набора, которых нет в другом наборе(ах).

> Метод 'symmetric_difference()' сохраняет все элементы, КРОМЕ дубликатов.

### Union

In [22]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

> * Вы можете использовать '|' оператор вместо 'union()' метода и получите тот же результат.

In [23]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

### Join Multiple Sets

In [24]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'bananas', 'c', 'apple', 'cherry', 'a', 'Elena', 'John', 'b'}

In [27]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'bananas', 'c', 'apple', 'cherry', 'a', 'Elena', 'John', 'b'}

### Join a Set and a Tuple

In [28]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'c', 'a', 'b'}

### Update

> The update() method inserts all items from one set into another.

> The update() changes the original set, and does not return a new set.

In [29]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

### Intersection

In [30]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

> Вы можете использовать &оператор вместо intersection()метода и получите тот же результат.

In [31]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

>### Метод intersection_update()также сохранит ТОЛЬКО дубликаты, но он изменит исходный набор вместо возврата нового набора.

In [32]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

> Значения Trueи 1 считаются одинаковыми. То же самое касается Falseи 0.

In [33]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

### Difference

> Метод difference()вернет новый набор, который будет содержать только те элементы из первого набора, которых нет в другом наборе.

In [34]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

> Вы можете использовать '-' оператор вместо 'difference()' метода и получите тот же результат.

In [35]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

>Метод difference_update()также сохранит элементы из первого набора, которых нет в другом наборе, но он изменит исходный набор вместо того, чтобы возвращать новый набор.

In [36]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

### Symmetric Differences

> Метод symmetric_difference()сохранит только те элементы, которые НЕ присутствуют в обоих наборах.

In [37]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'microsoft', 'google', 'cherry'}

> Вы можете использовать ^ оператор вместо symmetric_difference() метода и получите тот же результат.

In [38]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'microsoft', 'google', 'cherry'}

In [39]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'google', 'banana', 'microsoft', 'cherry'}