In [1]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [2]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [4]:
for x in "banana":
  print(x)

b
a
n
a
n
a

The len() function returns the length of a string:

In [5]:
a = "Hello, World!"
print(len(a))

13

Check if "free" is present in the following text:

In [6]:
txt = "The best things in life are free!"
print("free" in txt)

True

Check if "expensive" is NOT present in the following text:

In [7]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

print only if "expensive" is NOT present:

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

# Slicing Strings

Get the characters from position 2 to position 5 (not included):

In [8]:
b = "Hello, World!"
print(b[2:5])

llo

Get the characters from the start to position 5 (not included):

In [9]:
b = "Hello, World!"
print(b[:5])

Hello

Get the characters from position 2, and all the way to the end:

In [10]:
b = "Hello, World!"
print(b[2:])

llo, World!

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

In [11]:
b = "Hello, World!"
print(b[-5:-2])

orl

# Modify Strings

The upper() method returns the string in upper case:

In [12]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

    The strip() method removes any whitespace from the beginning or the end:

In [13]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

    The replace() method replaces a string with another string:

In [14]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

    The split() method splits the string into substrings if it finds instances of the separator:

In [15]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

# String Concatenation

In [16]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [17]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# Format - Strings

In [18]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [19]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

    Display the price with 2 decimals:

In [20]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [21]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

# Escape Characters

In [22]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

In [25]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.